body{
    background-color: white;
    animation: dayToNight 5s infinite 1.5s;
}
.content{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    display:block;
}
.sun{
    height:150px;
    width:150px;
    border-radius: 50%;
    background-color: #fcd25b;
    border: 3px solid #fcd25b;

}
.shadow{
    height:170px;
    width: 170px;
    border-radius: 50%;
    background-color: white;
    top:-5px;
    left:0px;
    animation: moveshadow 5s infinite 1.5s;
}
@keyframes moveshadow{
    0% {
        transform: translateX(150x);
        background-color: white;
    }
    50% {
        transform: translateX(-10px);
        background-color: black;
    }
    100% {
        transform: translateX(-170px);
        background-color: white;
    }
}
@keyframes dayToNight{
    0% {
        background-color: white;
    }
    50% {
        background-color: black;
    }
}