@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
  /* Deault CSS on all Elements */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "San Francisco", arial, sans-serif;
}
/*loading*/
.container {
  /* Deault CSS on all Elements */
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "San Francisco", arial, sans-serif;
}

header {
  text-align: center;
  background-color: black;
  padding-bottom: 0%;
}

.banner {
  /* Backgroung banner GIF */
  background-image: url(../image/canstudylogo.gif);
  height: 18vw;
  min-height: 30px;
  background-attachment: fixed;
  background-position: top center;
  background-repeat: no-repeat;
  background-size: 40% 40% ; 
}

/* Style the top navigation bar */
nav ul{
  display: flex;
  background-color: black;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding-bottom: 1em;
  /*position: -webkit-sticky;
    position: sticky;
    top: 0;*/
}

/* Style the navigation bar links */
nav .menu-btn {
  color: white;
  padding: 12px 20px;

  text-decoration: none;
  text-align: center;
  }

/* Change color on hover */
nav .menu-btn:hover {
  background-color: #ddd;
  color: black;
  text-decoration: none;
  border-radius: 8px;
}
/* The dropdown container */
.dropdown {
float: left;
overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
font-size: 16px;
border: none;
outline: none;
color: white;
padding: 14px 16px;
background-color: inherit;
font-family: inherit; /* Important for vertical align on mobile phones */
margin: 0; /* Important for vertical align on mobile phones */
}

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
background-color: rgb(25, 9, 83);
}

/* Dropdown content (hidden by default) */
.dropdown-content {
display: none;
position: absolute;
background-color: #f9f9f9;
min-width: 160px;
box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
z-index: 1;
text-decoration: none;
}

/* Links inside the dropdown */
.dropdown-content a {
float: none;
color: black;
padding: 12px 16px;
text-decoration: none;
display: block;
text-align: left;
box-shadow: inset 0 0 0 0 #565252;
transition: ease-out 0.3s;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  box-shadow: inset 400px 0 0 0 #ddd;
  text-decoration: none;
  
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
display: block;
}

/* Sizing Logo */
nav .logo {
  width: 100%;
  height: auto;
  max-width: 25px;
  margin: 0px 15px;
}

/* Main column */
main {
  flex: 100%;
  /* Set the width of the main content */
  background-image: url(./image/background1.jpg);
  /* White background color */
}

/* every even section with grey color */
section:nth-child(even) {
  background-color: #f3f0f0;
}

section {
  text-align: center;
  height: 100%;
  padding-top: 3em;
  padding-bottom: 2em;
  min-height: 40vh;
  }
 
  /*founder section*/
  .background ,.our_founder{
    text-align: center;
    height: 100%;
    padding: 75px 0px;
    min-height: 40vh;
    
  }
  
  /*spacing b/w side-heading*/
  .background h2 ,.our_founder h2 {
    margin-bottom: 50px;
  }
  
  /*styling of side-heading*/
  section h2 span {
    padding: 10px 55px;
    /*border-radius: 20px;*/
    color:#fff;
    background: #120f5e;
    /* fallback for old browsers */
    background:  linear-gradient(0deg, rgba(40,23,150,1) 0%, rgba(37,34,34,1) 100%);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: 'Kdam Thmor Pro', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-family: 'Playfair Display', serif;
    border-radius: 5px;
  }

  /*styling for branch img*/
  .branch img{
    margin: 5px;
    box-shadow: 0 0 2px 2px rgb(0, 0, 0);
    transition: 0.5s;
  }
  .branch img:hover {
    border-radius: 5px;
    transform: scale(1.1);
    z-index: 2;

  }
  /*spacing b/w department-title*/
  section h3 {
    font-size: 1.2em;
    font-family: 'Poppins', sans-serif;
    padding-top: 0.53em;
    padding-bottom: 2.7em;
    }

  /*profile section*/
  .profile_name {
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 4px;
    word-spacing: 10px;
    text-transform: uppercase;
    margin: 20px 0px 30px 0px;
    font:bold;
  }
  .profile_img{
    border-radius:90px;
  }
  .about_title {
    font-size: 1.45em;
    padding: 0px 10px;
    color: #120f5e;
  }
  .founder {
    background-color: rgba(255, 255, 255, 0.8);
  }

/* social media logo styling*/ 
.sm-handle {
  display: flex;
  justify-content: center;
}
.sm-handle a {
  padding: 10px 15px;
  border-radius: 30px;
  margin: 5px 10px;
  background-color: rgb(125 125 125 / 25%);
  text-decoration: none;
}
.sm-handle a:hover {
  background-color: rgb(30 30 30 / 25%);
}
.sm-handle a i {
  margin: 5px;
}
/*youtube*/
.yt_handle {
    color: #e62117;
  }
  /*linkedin*/
  .linkdn_handle {
    color: #0e76a8;
  }
  /*instagram*/
  .insta_handle {
    color: #dd2a7b;
  }
  /*bottom spacing b/w social media*/
  .about_us {
    margin: 50px;
  }
  
  /*footer section*/
  footer {
    display: flex;
    overflow: hidden;
    /* Hide overflow */
    background-color: black;
    /* Dark background color */
  }
  footer a {
    float: left;
    /* Make sure that the links stay side-by-side */
    display: block;
    /* Change the display to block, for responsive reasons (see below) */
    color: white;
    /* White text color */
    text-align: center;
    /* Center the text */
    padding: 14px 20px;
    /* Add some padding */
    text-decoration: none;
    /* Remove underline */
  }
  .copyright {
    color: #fff;
    /* to align item to left */
    margin-left: auto;
    padding-right: 15px;
  }
  .flex-align-left {
    margin-left: auto;
  }

 /*menu-bar in mobile view*/
 .menu-bar i{
  color: #fff;
  font-size: 22px;
  cursor: pointer;
  display: none;
  background-color: black;
  float: top left;
  padding-left: 7px;
}
#click {
  display: none;
}
#hp3{
  text-align: center;
  color: #000000;
  font-size: 3.5em;
}
#bodydd{
  padding: 0;
  font-family: "San Francisco", arial, sans-serif;
}
#tableborder{
padding: 2em;
background-color: #ffffff;
}
#tableout{
  padding-left: 0%;
  padding-right: 0%;
  background-color: #c2deee;

}

#body{
  background-color: #c2deee;
}
/*-----scrolling---*/
/* PRODUCTS */
.product {
  position: relative;
  overflow: hidden;
  padding: 20px;
}

.product-category {
  padding: 0 10vw;
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 40px;
  text-transform: capitalize;
}

.product-container {
  padding: 0 10vw;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
  display: none;
}

.product-card {
  flex: 0 0 auto;
  width: 250px;
  height: 450px;
  margin-right: 40px;
}

.product-image {
  position: relative;
  width: 100%;
  height: 350px;
  overflow: hidden;
}

.product-thumb {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.card-btn {
  text-decoration: none;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  width: 90%;
  text-transform: capitalize;
  border: none;
  outline: none;
  color: #120f5e;
  background: #fff;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;
  opacity: 0;
}

.product-card:hover .card-btn {
  opacity: 1;
}

.card-btn:hover {
  background: rgb(10, 181, 229);
  color: #fff;
}

.product-info {
  width: 100%;
  height: 100px;
  padding-top: 10px;
}

.product-brand {
  text-transform: uppercase;
}

.product-short-description {
  width: 100%;
  height: 20px;
  line-height: 20px;
  overflow: hidden;
  opacity: 0.5;
  text-transform: capitalize;
  margin: 5px 0;
}

.price {
  font-weight: 900;
  font-size: 20px;
}

.actual-price {
  margin-left: 20px;
  opacity: 0.5;
  text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
  border: none;
  width: 10vw;
  height: 100%;
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  cursor: pointer;
  z-index: 8;
}

.pre-btn {
  left: 0;
  transform: rotate(180deg);
}

.nxt-btn {
  right: 0;
}

.pre-btn img,
.nxt-btn img {
  opacity: 0.2;
}

.pre-btn:hover img,
.nxt-btn:hover img {
  opacity: 1;
}

.collection-container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
}

.collection {
  position: relative;
}

.collection img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.collection p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-size: 50px;
  text-transform: capitalize;
}

.collection:nth-child(3) {
  grid-column: span 2;
  margin-bottom: 10px;
}

/*--------page2 button styling-----------*/

section h1 span{
  font-family:  'Kdam Thmor Pro', sans-serif ;
  font-size: 1em;
}
.sem-btn{
  background-color: rgb(32, 30, 30);
  color: white;
  padding: 20px 200px;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  width:97%;
  text-decoration: none;
  box-shadow: inset 0 0 0 0 #0e0e0e;
  transition: ease-out 0.3s;
  outline: none;
}
.sem-btn:hover{
  box-shadow: inset 500px 0 0 0 #000000;
}
.SEL-btn{
  background-color: #000000;
  color: white;
  padding: 20px 400px;
  border:none;
  border-radius: 4px;
  cursor: pointer;
  width:97%;
  text-decoration: none;
  box-shadow:  inset 0 0 0 0 #000000;
  transition: ease-out 0.3s;
  outline: none;
}
.SEL-btn:hover{
  box-shadow: inset 900px 0 0 0 rgb(2, 0, 36); 
}
section h1{
  font-family:  'Kdam Thmor Pro', sans-serif ;
  font-size: 1.7em;
}
/*spacing b/w button*/
.btn-space{
  bottom: 3em;
padding: 45px;}
.btn1-space{
  padding: 50px;
}
.dropbttn {
  background-color:  rgb(32, 30, 30);
  color: white;
  padding: 40px 250px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.dropdown1 {
  position: relative;
  display: inline-block;
  background-color: #606060;
}

.dropdown-content1 {
  left: 100%;
  top: 0%;
  margin-left: 0.125rem;
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {
  background-color: #a29898;
}

.dropdown1:hover .dropdown-content1 {
  display: block;
}

.dropdown1:hover .dropbttn {
  background-color: black;
}
.vl {
  border-left: 6px solid green;
  height: 500px;
}
.class_head{
  color:black;
  background-color: #e2e0e0;
  padding-top: 2em;
  padding-bottom: 1em;
  border-radius: 20px;
}
/*-------------moblie view-------------*/

@media (max-width: 920px) {
  header {
    text-align: left;
    background-color: rgb(0, 0, 0);

  }
  
  .banner {
    /* Backgroung banner GIF */
    background-image: url(../image/canstudylogo.gif);
    height: 90px;
    width: 90%;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: 80% 19% ;
  }
  /*menu bar in moblie view*/
  nav .menu-bar i{
      display: block;
    }
    #click:checked ~ .menu-bar i:before{
      content: "\f00d";
      }
    nav ul{
      position: absolute;
      top: 130px;
      left: -100%;
      background: #111;
      width: 100%;
      display: block flow;
      transition: all 0.3s ease;
      z-index: 1;
    }
    #click:checked ~ ul{
      left: 0 ;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav .menu-btn:hover {
      background-color: rgb(16, 16, 16);
      color: cyan;
    }
    .dropdown:hover .dropbtn {
      color: cyan;
      background-color: rgb(16, 16, 16);
    }
    .dropdown-content {
      display: none;
      position: relative;
      background-color: black;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    .dropdown-content a:hover {
      box-shadow: inset 400px 0 0 0 #ddd;
      color: black;
    }
    .dropdown-content1 a {
     color: rgb(255, 255, 255);
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     background-color: #0e0e0e;
    }

    .dropdown-content1 a:hover {
     background-color: #4d4a4a;
     }

    .dropdown1:hover {
     background-color:  rgb(33, 32, 32);
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
      float: none;
      color: white;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
      text-align: left;
      box-shadow: inset 0 0 0 0 #565252;
      transition: ease-out 0.3s;
    }
    .sem-btn{
      background-color: rgb(32, 30, 30);
      color: white;
      padding: 1rem 8rem;
      border:none;
      border-radius: 4px;
      cursor: pointer;
      width:97%;
      text-decoration: none;
      box-shadow: inset 0 0 0 0 #0e0e0e;
      transition: ease-out 0.3s;
      outline: none;
    }
    .dropbttn{
      background-color: rgb(32, 30, 30);
      color: white;
      padding: 1rem 5rem;
      border:none;
      border-radius: 4px;
      cursor: pointer;
      width:97%;
      text-decoration: none;
      box-shadow: inset 0 0 0 0 #0e0e0e;
      transition: ease-out 0.3s;
      outline: none;
    }
    .dropdown1 {
      position: static;
      display: inline-block;
    }
    
    .dropdown-content1 {
      left: 100%;
      top: 0%;
      margin-left: 0.125rem;
      display: none;
      position: relative;
      top: 10px;
      left: 0;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    /*branch img styling*/
    .branch img {
      margin: 3px;
      box-shadow: 8px 8px 12px 2px rgba(0, 0, 0, 0.475);
      height: 10em;
      width: 17em;
    }
    .branch {
    font-family: 'Poppins', sans-serif;
    font-size: medium;
    }
    .branch img :hover {
      border: 3px solid rgb(158, 154, 154);
      border-radius: 2px;
    }
   /*footer*/
    footer,
    .sm-handle,
    nav {
      flex-direction: column;
      padding: 10px 0px;
    }
    /*copyright will be align to right*/
    .flex-align-left {
      margin-left: 0;
  }
}
